.search-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.search-input {
    
}

.social-icons {
    display: flex;
    
}

.icon {
    flex-direction: column;
    margin: 0 10px;
}