
.post-header-container {
    box-shadow: 5px 5px 6px grey;
    display: flex;
    align-items: center;

}

.post-thumb {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    
}

.ph-image {
    margin: 5px;
}

